name: publish

on:
  push:
    branches:
      - master

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    name: release-please
    runs-on: ubuntu-latest
    outputs:
      release-created: ${{ steps.release.outputs.release_created || false }}
    steps:
      - id: release
        uses: googleapis/release-please-action@v4
        with:
          config-file: .release-please/config.json
          manifest-file: .release-please/manifest.json
